td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0 10px;
}
table {
	border-collapse: collapse;
	border-style: hidden;
}
table.layout1 {
	border: none !important;
}
.split {
	display: flex;
}
.gimmick {
	height: 150px;
	width: 50%;
}
.bans {
	width: 50%;
	padding: 0 10px;
	border-left: 2px solid grey;
}
.bans .scroll {
	overflow-y: scroll;
	height: 150px;
}
.bans .scroll tr,td {
	width: 80%;
	margin: 0 10px;
}
.post {
	padding: 10px 10px;
	margin: 10px 0;
	border: 2px solid black;
	border-radius: 10px;
}
.man span,a {
	color: red;
}
.man {
	float: right;
}
@media screen and (max-width: 780px){
	.split {
		display:block;
	}
	.gimmick {
		height: auto;
	}
	.bans {
		border: none;
		padding: 0;
		width: 95%;
	}
	.bans .scroll td {
		width: 100%;
	}
	.man {
		display: block;
		float: none;
		overflow:hidden;
		padding-bottom: 0;
	}
	.post { 
		width: 90%; 
	}
}
textarea {
	width: 99%;
}
