main {
	width: 85%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	background-color: #F2F2F2;
	padding: 0 10px;
	min-height: 100%;
}
body {
	background-color: #E8E8E8;
}
@media screen and (max-width: 780px) {
	main {
		width: 100%;
		margin: 0 10px !important;
	}
}
li {
	list-style: "> ";
	margin-left: 5px;
}
.counter {
	color:white;
	background-color: rgb(70,130,180);
	border: 2px solid white;
	margin: 15px;
	display: inline-block;
	border-collapse: collapse;
}
.counter td {
	border: none !important;
}
.counter td {
	width: 100px !important;
}
.counter .labels {
	border-bottom: 2px solid white !important;
}
.counterc span {
	position: relative;
	top: -35px !important;
}
@media screen and (max-width: 1200px) {
	main {
			width: 100%;
			margin: 0 10px !important;
		}
	.counter {
		display: block;
		width: 95%;
	}
	.counterc span {
		top: 0 !important;
	}
	.counter td {
		width: 8% !important;
	}
}
.stat, .stat td {
	border: 1px solid black;
}
.stat {
	border-collapse:collapse;
}
